.css-1mr4ysp, .css-svqjir
{
    /* background-color: black !important; */
  /* background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%) !important; */
    color: #fff;
    position: sticky !important;
    top: 0;
    z-index: 99;
}

.css-m7wkyr{
    position: sticky !important;
    top: 0;
    z-index: 99;
    /* opacity: 0.9; */
    background-color: rgba(0, 0, 0, 0.205) !important;
    backdrop-filter: blur(15px);
}

.css-1y6oau7 a {
    display: flex;
}
.css-1y6oau7 a > svg {
    margin: 5px;
}

.css-1y6oau7 a:hover{
    background-color: gray;
}

.css-1kfu8nn
{
    background-color: #1a202c !important;
}
.css-18esm8n{
    background-color: #1a202c !important;
    margin: 10px 0;
}
.css-18esm8n:hover{
    background-color: gray !important;
}
.css-0
{
    display: flex;
    align-items: center;
}
.logo-txt
{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    color: #F7931A;
    font-size: 20px;
    cursor: pointer;
}

/* Navbar color main CSS */

.css-1mr4ysp{
    /* background-color: #171923 !important; */
    position: sticky !important;
    top: 0;
    z-index: 99;
    /* background-color: rgba(0, 0, 0, 0.205) !important; */
    /* background: linear-gradient(112.1deg, rgba(32, 38, 57, 0.507) 11.4%, rgba(63, 76, 119, 0.548) 70.2%) !important; */
    /* background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%) !important; */
    background: linear-gradient(109.6deg, rgba(20, 30, 48, 0.514) 11.2%, rgba(36, 59, 85, 0.479) 91.1%) !important;
    backdrop-filter: blur(15px);

}
