.css-1mr4ysp
{
    background-color: black !important;
    color: #fff;
}

.css-1y6oau7 a {
    display: flex;
}
.css-1y6oau7 a > svg {
    margin: 5px;
}

.css-1y6oau7 a:hover{
    background-color: gray;
}

.css-1kfu8nn
{
    background-color: #1a202c !important;
}
.css-18esm8n{
    background-color: #1a202c !important;
    margin: 10px 0;
}
.css-18esm8n:hover{
    background-color: gray !important;
}