.css-1mr4ysp, .css-svqjir
{
    /* background-color: black !important; */
  background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%) !important;

    color: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
}


.css-1y6oau7 a {
    display: flex;
}
.css-1y6oau7 a > svg {
    margin: 5px;
}

.css-1y6oau7 a:hover{
    background-color: gray;
}

.css-1kfu8nn
{
    background-color: #1a202c !important;
}
.css-18esm8n{
    background-color: #1a202c !important;
    margin: 10px 0;
}
.css-18esm8n:hover{
    background-color: gray !important;
}
.css-0
{
    display: flex;
    align-items: center;
}
.logo-txt
{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    color: #F7931A;
    font-size: 20px;
}