/* Footer Background Color */

.css-1gx57aq{
    /* background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%) !important; */
    color: #fff;
    background-color: #171923 !important;
    
}
/* .css-jz1flq {
position: absolute;
bottom: 0;
width: 100%;
} */